<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link
      href="/adminProductList/adminProductList.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../home/reset.css" rel="stylesheet" type="text/css" />
    <link href="../mypage/HeaderFooter.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="body">
    <!--Header_Navigator-->

    <!-------- basic_info -------->
    <section class="section_box"></section>

    <!-------- mypage_shopping -------->

    <!-------- footer -------->
    <script src="../mypage/Footer.js" type="module" defer></script>
    <script src="../mypage/header.js" type="module" defer></script>
    <script src="../home/changeHeader.js" type="module" defer></script>
    <script
      src="/adminProductList/adminProductList.js"
      type="module"
      defer
    ></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
