.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background: #f4f4f4;
  gap: 35px;
  padding: 0 100px;
}
.header .header_logo a {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;

  font-family: "Imbue";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 120px;
  color: #000000;
}
.search {
  display: flex;
}
.header .search > li {
  position: relative;
  width: 800px;
  text-decoration: none;
}
.header .search .header_search {
  display: flex;
  width: 100%;
  height: 40px;
  background: rgb(236, 236, 236);

  border-radius: 20px;
  overflow: hidden;
  border: none;
  font-size: 12px;
  padding: 10px;
}
.header .search > li > button {
  position: absolute;
  display: flex;
  right: 10px;
  top: 16px;
  border: none;
  padding: 0;
  background: rgb(236, 236, 236);
}

.header .header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  height: 52px;
  gap: 25px;

  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.header .header_right li a {
  color: #8c7b75;
}

.hidden {
  display: none !important;
}

/*             footer              */
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  width: 100%;
  height: 200px;
  background: #f4f4f4;
}

.addressLink {
  display: flex;
  gap: 10px;
  align-items: flex-end;

  height: 35px;
  line-height: 35px;
}
.addressLink > li > a {
  color: black;
  text-decoration: none;
}
.addressLink #footer_logo {
  font-family: "Imbue";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0em;
  line-height: 48px;
  text-align: left;
}
.addressText {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.address_right {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
