<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="mypageOrderList.css" />
    <link rel="stylesheet" type="text/css" href="../home/reset.css" />
    <link rel="stylesheet" type="text/css" href="HeaderFooter.css" />
    <script src="HeaderFooter.js"></script>
  </head>
  <body id="body">
    <!--Header_Navigator-->

    <section class="section">
      <article class="my_shopping">
        <h1>주문내역 조회</h1>
        <div class="title">
          <div class="first">주문 정보</div>
          <div>주문 금액(수량)</div>
          <div>주문 상태</div>
        </div>
        <div class="content">
          <div class="first">
            <img class="product_img" />
            <div class="product_script">
              <p class="product_name">
                상품명 : Undermycar Operation Chromite Kerberos Oversized
                Varsity Jacket Ox Blood - 22FW
              </p>
              <div class="order_number">주문 번호 : 20221102</div>
              <div class="order_date">주문 일자 : 2022-11-02</div>
            </div>
          </div>
          <div class="product_price">
            390,000원<br />
            (1개)
          </div>
          <div>배송중</div>
        </div>
        <div class="content">
          <div class="first">
            <img class="product_img" />
            <div class="product_script">
              <p>
                상품명 : Undermycar Operation Chromite Kerberos Oversized
                Varsity Jacket Ox Blood - 22FW
              </p>
              <div>주문 일자 : 2022-11-02</div>
            </div>
          </div>
          <div class="product_price">
            390,000원<br />
            (1개)
          </div>
          <div>배송중</div>
        </div>
        <div class="content">
          <div class="first">
            <img class="product_img" />
            <div class="product_script">
              <p>
                상품명 : Undermycar Operation Chromite Kerberos Oversized
                Varsity Jacket Ox Blood - 22FW
              </p>
              <div>주문 일자 : 2022-11-02</div>
            </div>
          </div>
          <div class="product_price">
            390,000원<br />
            (1개)
          </div>
          <div>배송중</div>
        </div>
      </article>
    </section>

    <!-------- footer -------->
    <footer class="footer">
      <address class="address_left">
        <ul class="addressLink">
          <li>
            <a href="/" id="footer_logo">Ce1ev.</a>
          </li>
          <li>
            <a href="#">개인정보 취급방침</a>
          </li>
          <li>
            <a href="#">이용약관</a>
          </li>
        </ul>

        <div class="addressText">
          <p>셀레브 주식회사 · 대표 김원송 사업자등록번호 : 000-00-00000</p>
          <p>
            사업장소재지 : 경기도 성남시 분당구 분당내곡로 131 판교테크원 타워1,
            8층
          </p>
          <p>ⓒ CELEV. Corp.</p>
        </div>
      </address>
      <address class="address_right">
        <p>
          <strong style="font-size: 20px; font-weight: 600"
            >고객센터 1588-0000</strong
          >
        </p>
        <p>
          운영시간 평일 11:00 - 18:00 (토∙일, 공휴일 휴무)<br />
          점심시간 평일 13:00 - 14:00<br />
          1:1 문의하기는 앱에서만 가능합니다.
        </p>
      </address>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
