<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="mypageAccount.css" />
    <link rel="stylesheet" type="text/css" href="../home/reset.css" />
    <link rel="stylesheet" type="text/css" href="HeaderFooter.css" />
    <script src="HeaderFooter.js"></script>
  </head>
  <body id="body">
    <!--Header_Navigator-->

    <!-------- mypage_info -------->
    <section class="section">
      <article class="basic_info">
        <h1>기본 정보</h1>
        <div class="container">
          <div class="title">이름</div>
          <div class="content">박재훈</div>
        </div>

        <div class="container">
          <div class="title">휴대전화</div>
          <div class="content">010-2620-8738</div>
        </div>

        <div class="container">
          <div class="title">이메일</div>
          <div class="content">wogns205@gmail.com</div>
        </div>

        <div class="container">
          <div class="title">비밀번호</div>
          <div class="content">********</div>
        </div>

        <div class="container user_address">
          <div class="title">주소</div>
          <div class="content">
            경기도 성남시 분당구 분당내곡로 131 판교테크원 타워1, 8층
          </div>
        </div>

        <div class="btn_container">
          <button class="left">회원탈퇴</button>
          <button class="right">정보수정</button>
        </div>
      </article>
    </section>
    <!-------- footer -------->
  </body>
</html>
