<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="mypageOrderList.css" />
    <link rel="stylesheet" type="text/css" href="../home/reset.css" />
    <link rel="stylesheet" type="text/css" href="HeaderFooter.css" />
  </head>
  <body class="body">
    <!--Header_Navigator-->

    <section class="section">
      <article class="my_shopping">
        <h1>주문내역 조회</h1>
        <div class="title">
          <div class="first">주문 정보</div>
          <div>주문 금액(수량)</div>
          <div>주문 상태</div>
        </div>
        <div class="content">
          <div class="first">
            <img class="product_img" />
            <div class="product_script">
              <p class="product_name">
                상품명 : Undermycar Operation Chromite Kerberos Oversized
                Varsity Jacket Ox Blood - 22FW
              </p>
              <div class="order_number">주문 번호 : 20221102</div>
              <div class="order_date">주문 일자 : 2022-11-02</div>
            </div>
          </div>
          <div class="product_price">
            390,000원<br />
            (1개)
          </div>
          <div>배송중</div>
        </div>
        <div class="content">
          <div class="first">
            <img class="product_img" />
            <div class="product_script">
              <p>
                상품명 : Undermycar Operation Chromite Kerberos Oversized
                Varsity Jacket Ox Blood - 22FW
              </p>
              <div>주문 일자 : 2022-11-02</div>
            </div>
          </div>
          <div class="product_price">
            390,000원<br />
            (1개)
          </div>
          <div>배송중</div>
        </div>
        <div class="content">
          <div class="first">
            <img class="product_img" />
            <div class="product_script">
              <p>
                상품명 : Undermycar Operation Chromite Kerberos Oversized
                Varsity Jacket Ox Blood - 22FW
              </p>
              <div>주문 일자 : 2022-11-02</div>
            </div>
          </div>
          <div class="product_price">
            390,000원<br />
            (1개)
          </div>
          <div>배송중</div>
        </div>
      </article>
    </section>

    <!-------- footer -------->

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="HeaderFooter.js"></script>
  </body>
</html>
