<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="mypage.css" />
    <link rel="stylesheet" type="text/css" href="../home/homeHeader.css" />
    <link rel="stylesheet" type="text/css" href="../home/reset.css" />
    <link rel="stylesheet" href="../mypage/HeaderFooter.css" />
    <script src="../mypage/HeaderFooter.js" type="module" defer></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="body">
    <!--Header_Navigator-->

    <!-------- basic_info -------->
    <section class="section">
      <article class="profile">
        <div>
          <div class="picture"><img alt="profile_image" src= /></div>
          <div class="name"></div>
          <div class="email"></div>
        </div>
        <div class="profile_right">
          <div>
            <div class="grade">회원 등급</div>
            <p>일반회원</p>
          </div>
          <div>
            <div class="point">포인트</div>
            <p>100 P</p>
          </div>
        </div>
      </article>
      <article class="mypage_button_container">
        <div class="mypage_button">계정 관리</div>
        <div class="mypage_button">주문 관리</div>
        <div class="mypage_button">장바구니 관리</div>
        <div class="mypage_button">회원 탈퇴</div>
      </article>
    </section>

    <!-------- mypage_shopping -------->

    <!-------- footer -------->
  </body>
</html>
