<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="mypageCart.css" />
    <link rel="stylesheet" type="text/css" href="../mypage/HeaderFooter.css" />
    <link rel="stylesheet" type="text/css" href="../home/reset.css" />
  </head>
  <body class="body">
    <!--Header_Navigator-->

    <section class="section">
      <article class="my_shopping">
        <h1>장바구니</h1>
        <div class="title">
          <div class="first">상품 정보</div>
          <div>상품 금액(수량)</div>
          <div>관리</div>
        </div>
        <div class="content_box"></div>
      </article>
    </section>
    <div>총 금액</div>
    <div class="totalPrice"></div>
    <div>상품 수</div>
    <div class="totalAmount"></div>
    <!-- Footer -->
    <script src="mypageCart.js"></script>
    <script src="../mypage/HeaderFooter.js" type="module" defer></script>
  </body>
</html>
