<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="mypageOrderList.css" />
    <link rel="stylesheet" type="text/css" href="../mypage/HeaderFooter.css" />
    <link rel="stylesheet" type="text/css" href="../home/reset.css" />
  </head>
  <body class="body">
    <!--Header_Navigator-->

    <section class="section">
      <article class="my_shopping">
        <h1>장바구니</h1>
        <div class="title">
          <div class="first">상품 정보</div>
          <div>주문 금액(수량)</div>
          <div>관리</div>
        </div>
        <div class="content">
          <!-- <div class="first">
            <img class="product_img" />
            <div class="product_script">
              <p class="product_name">
                상품명 : Undermycar Operation Chromite Kerberos Oversized
                Varsity Jacket Ox Blood - 22FW
              </p>
            </div>
          </div>
          <div class="product_price">
            390,000원<br />
            (1개)
          </div>
          <div class="status">삭제 버튼 기능 구현</div> -->
        </div>
      </article>
    </section>

    <!-------- footer -------->
    <script src="mypageCart.js"></script>
    <script src="header.js" type="module" defer></script>
    <script src="footer.js" type="module" defer></script>
    <script src="../home/changeHeader.js" type="module" defer></script>
  </body>
</html>
