<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="mypage.css" />
    <link rel="stylesheet" type="text/css" href="../home/reset.css" />
    <link rel="stylesheet" href="HeaderFooter.css" />
  </head>
  <body class="body">
    <div class="main">
      <!-- Header -->
      <header class="header">
        <div class="header_logo">
          <a href="/"> Ce1ev. </a>
        </div>
        <ul class="search">
          <li>
            <input
              type="text"
              placeholder="검색어를 입력하세요."
              class="header_search"
              id="text"
            />
            <button type="button" class="searchBtn">
              <i class="fa fa-magnifying-glass fa-2x"></i>
            </button>
          </li>
        </ul>
        <ul class="header_right" id="guest">
          <li id="header_login">
            <a href="/login"> LOGIN </a>
          </li>
          <li id="header_wish">
            <a href="/register"> REGISTER </a>
          </li>
          <li id="header_cart">
            <a href="/guest"> GUEST </a>
          </li>
        </ul>
        <ul class="header_right hidden" id="user">
          <li id="header_cart">
            <a href="/mypage/myPageCart"> CART </a>
          </li>
          <li id="header_myPage">
            <a href="/mypage"> MY PAGE </a>
          </li>
          <li id="header_logout">
            <a href="/#" id="logout2"> LOG OUT </a>
          </li>
        </ul>
        <ul class="header_right hidden" id="admin">
          <li id="header_addProduct">
            <a href="/products"> ADD-PRODUCT </a>
          </li>
          <li id="header_mypage">
            <a href="/admin"> ADMIN-PAGE </a>
          </li>
          <li id="header_logout">
            <a href="/#" id="logout1"> LOG OUT </a>
          </li>
        </ul>
      </header>

      <!-------- basic_info -------->
      <section class="section">
        <article class="profile">
          <div class="picture">
            <img
              class="picture"
              alt="profile_image"
              src="../image/profile.png"
            />
          </div>
          <div class="name"></div>
          <div class="email"></div>
          <div class="profile_right">
            <div>
              <div class="grade">회원 등급</div>
              <p class="role"></p>
            </div>
          </div>
        </article>
        <article class="mypage_button_container">
          <div id="mypageAccount_button">계정 관리</div>
          <div id="mypageOrderList_button">주문 관리</div>
          <div id="mypageCart_button">장바구니 관리</div>
          <div id="mypageReview_button">후기 관리</div>
          <div id="mypageWithdrawal_button">회원 탈퇴</div>
        </article>
      </section>

      <!-------- mypage_shopping -------->

      <!-------- footer -------->
    </div>

    <script type="module" src="mypage.js" defer></script>
    <script src="Footer.js"></script>
    <script src="../home/changeHeader.js" type="module" defer></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
