.main {
  width: 1280px;
  display: grid;
  grid-template-columns: 11.5fr 88.5fr;
  margin: 110px auto;
}
.main h1 {
  font-size: 24px;
  font-weight: bold;
}
.main h2 {
  font-size: 20px;
  font-weight: bold;
}
.main h3 {
  font-size: 18px;
  font-weight: bold;
}
.aside_menu {
  width: 220px;
  margin-right: 40px;
}

.main .aside_menu .my_info {
  margin-top: 39px;
}

.main .aside_menu .my_info > h3 {
  margin-bottom: 14px;
}

.main .aside_menu .my_info h3 a {
  color: black;
}

.main .aside_menu .my_info > p {
  margin-bottom: 10px;
}

.main .aside_menu .my_info > p:last-child {
  margin-bottom: 0;
}

.main .aside_menu .my_shopping {
  margin-top: 39px;
}

.main .aside_menu .my_shopping > h3 {
  margin-bottom: 14px;
}

.main .aside_menu .my_shopping h3 a {
  color: black;
}

.main .aside_menu .my_shopping > p {
  margin-bottom: 10px;
}

.main .aside_menu .my_shopping > p:last-child {
  margin-bottom: 0;
}

.section {
  width: 1000px;
}

.section article {
  margin-bottom: 60px;
}

.section article h2 {
  margin-bottom: 20px;
}

.section .profile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 934px;
  height: 135px;
  border: 1px solid lightgrey;
  border-radius: 10px;

  padding: 0 33px;
}

.section .profile .picture {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: lightgrey;
}

.section .profile .profile_right {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.section .profile .profile_right div > div {
  margin-bottom: 16px;
}

.section .basic_info {
  font-size: 14px;
  margin-bottom: 36px;
}

.section .basic_info .container {
  width: 916px;
  height: 60px;
  line-height: 60px;
  padding-left: 42px;
  padding-right: 42px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: 1px solid black;
}

.section .basic_info .user_address {
  border-bottom: 1px solid black;
}

.section .basic_info .container .title {
  width: 195px;

  text-align: left;
}

.section .basic_info .container .content {
  width: 628px;

  text-align: left;
}

.section .basic_info .container button {
  width: 92px;
  height: 33px;
  line-height: 33px;

  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;

  text-align: center;

  padding: 0;
}

.section .btn_container {
  width: 550px;
  padding: 0 225px;
  margin-top: 36px;

  display: flex;
  justify-content: space-between;
}

.section .btn_container .left {
  width: 191px;
  height: 40px;
  border: 1px solid black;
  background-color: white;

  font-size: 16px;
  line-height: 19px;
}

.section .btn_container .right {
  width: 193px;
  height: 42px;
  background-color: black;

  color: white;
  font-size: 16px;
  line-height: 19px;
}

.section .unregister {
  color: gray;
  background-color: white;

  font-size: 18px;
  line-height: 22px;

  border: 0;

  margin-top: 60px;
}

.section .my_shopping {
  font-size: 14px;
}

.section .my_shopping div {
  width: 188px;
}

.section .my_shopping .title {
  width: 1000px;
  height: 60px;
  border: 1px solid lightgray;
  border-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  text-align: center;
}

.section .my_shopping .title .first {
  width: 625px;
}

.section .my_shopping .content {
  width: 1000px;
  height: 200px;
  border: 1px solid lightgray;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.section .my_shopping .content .first {
  width: 545px;
  padding-left: 40px;
  padding-right: 40px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section .my_shopping .content .product_img {
  width: 176px;
  height: 176px;
  border: 1px solid black;
}

.section .my_shopping .content .product_script {
  width: 329px;

  text-align: left;

  display: flex;
  flex-direction: column;
  gap: 46px;
}

.section .my_shopping .content .product_price {
  width: 188px;
  height: 202px;

  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
}
