<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="mypage.css" />
    <link rel="stylesheet" type="text/css" href="../home/reset.css" />
    <link rel="stylesheet" href="HeaderFooter.css" />
  </head>
  <body class="body">
    <!--Header_Navigator-->

    <!-------- basic_info -------->
    <section class="section">
      <article class="profile">
        <div class="picture">
          <img class="picture" alt="profile_image" src="../image/profile.png" />
        </div>
        <div class="name"></div>
        <div class="email"></div>
        <div class="profile_right">
          <div>
            <div class="grade">회원 등급</div>
            <p class="role"></p>
          </div>
        </div>
      </article>
      <article class="mypage_button_container">
        <div id="mypageAccount_button">계정 관리</div>
        <div id="mypageOrderList_button">주문 관리</div>
        <div id="mypageCart_button">장바구니 관리</div>
        <div id="mypageWithdrawal_button">회원 탈퇴</div>
      </article>
    </section>

    <!-------- mypage_shopping -------->

    <!-------- footer -------->
    <script type="module" src="mypage.js" defer></script>
    <script src="header.js" type="module" defer></script>
    <script src="footer.js" type="module" defer></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
