<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="adminPage.css" />
    <link rel="stylesheet" type="text/css" href="../home/reset.css" />
    <link rel="stylesheet" href="../mypage/HeaderFooter.css" />
  </head>
  <body class="body">
    <!--Header_Navigator-->

    <!-------- basic_info -------->
    <section class="section">
      <article class="profile">
        <div class="picture">
          <img class="picture" alt="profile_image" src="../image/profile.png" />
        </div>
        <div class="name"></div>
        <div class="email"></div>
        <div class="profile_right">
          <div>
            <div class="grade">직책</div>
            <p class="role"></p>
          </div>
        </div>
      </article>
      <article class="admin_button_container">
        <!-- <div id="adminCategory_button hidden">카테고리 관리</div> -->
        <div id="adminProduct_button"> <a href="/admin/adminProductList">상품 관리</a></div>
        <div id="adminOrder_button"> <a href="/admin/adminOrder">주문 관리</a></div>
        <div id="adminMember_button"> <a href="/admin/adminMember">회원 관리</a></div>
      </article>
    </section>

    <!-------- mypage_shopping -------->

    <!-------- footer -------->
    <script src="../mypage/header.js" type="module" defer></script>
    <script src="../mypage/footer.js" type="module" defer></script>
    <script src="../home/changeHeader.js" type="module" defer></script>
    <script src="adminPage.js" type="module" defer></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
