<!-------- mypage_shopping -------->
<link rel="stylesheet" href="mypage_shopping.css" />
<link rel="stylesheet" href="../../../reset.css" />
<main class="main">
  <aside class="aside_menu">
    <h1>마이 페이지</h1>
    <div class="my_info">
      <h3>
        <a href="/mypage_info">
          내 정보
        </a>
      </h3>
      <p>회원 정보 수정</p>
      <p>회원 탈퇴</p>
    </div>
    <div class="my_shopping">
      <h3>
        <a href="/mypage_shopping">
          나의 쇼핑
        </a>
      </h3>
      <p>주문/배송 조회</p>
      <p>장바구니 목록</p>
      <p>주문취소내역</p>
    </div>
  </aside>
  <section class="section">
    <article class="profile">
      <div>
        <div class="picture"><img alt="profile_image" src= /></div>
        <div class="name"></div>
        <div class="email"></div>
      </div>
      <div class="profile_right">
        <div>
          <div class="grade">회원 등급</div>
          <p>일반회원</p>
        </div>
        <div>
          <div class="point">포인트</div>
          <p>100 P</p>
        </div>
      </div>
    </article>
    <article class="my_shopping">
      <h2>주문내역 조회</h2>
      <div class="title">
        <div class="first">상품 정보/주문일자</div>
        <div>주문 금액(수량)</div>
        <div>주문 상태</div>
      </div>
      <div class="content">
        <div class="first">
          <img class="product_img">
          <div class="product_script">
            <p>상품명 : Undermycar Operation Chromite Kerberos Oversized Varsity Jacket Ox Blood - 22FW</p>
            <div>주문 일자 : 2022-11-02</div>
          </div>
        </div>
        <div class="product_price">
          390,000원<br>
          (1개)
        </div>
        <div>배송중</div>
      </div>
    </article>
    
    <article class="my_shopping">
      <h2>장바구니 목록</h2>
      <div class="title">
        <div class="first">상품 정보</div>
        <div>상품 금액(수량)</div>
        <div>관리</div>
      </div>
      <div class="content">
        <div class="first">
          <img class="product_img">
          <div class="product_script">
            <p>상품명 : Undermycar Operation Chromite Kerberos Oversized Varsity Jacket Ox Blood - 22FW</p>
            <div>주문 일자 : 2022-11-02</div>
          </div>
        </div>
        <div class="product_price">
          390,000원
          <br>
          (1개)
        </div>
        <div>삭제</div>
      </div>
    </article>

    <article class="my_shopping">
      <h2>주문취소 내역</h2>
      <div class="title">
        <div class="first">상품 정보/취소일자</div>
        <div>상품 금액(수량)</div>
        <div>주문 상태</div>
      </div>
      <div class="content">
        <div class="first">
          <img class="product_img">
          <div class="product_script">
            <p>상품명 : Undermycar Operation Chromite Kerberos Oversized Varsity Jacket Ox Blood - 22FW</p>
            <div>주문 일자 : 2022-11-02</div>
          </div>
        </div>
        <div class="product_price">
          390,000원
          <br>
          (1개)
        </div>
        <div>취소완료</div>
      </div>
    </article>
  </section>
</main>
