<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="productDetail.css" />
    <link rel="stylesheet" href="../mypage/HeaderFooter.css" />
    <script src="productDetail.js" type="module" ></script>
    <title>productDetail</title>
  </head>
  <body class="body">
    <!-- Header -->

    <div class="container">
      <div class="box bb1"></div>
      <img class="box bb2" src=""></img>
      <div class="box bb3">
        <p class="pd_brd"></p>
        <p class="pd_name">
        </p>
      </div>
      <div class="box bb4">
        
        <div class="tag_block">
          <a class="tag_category"></a>
          <a class="tag_name"></a>
        </div>
      </div>
      <div class="box bb5">
        <p>사이즈</p>
        <div class="selectBox">
          <select name="sB" class="select">
            <option value="select_prepare">상품 준비중</option>
          </select>
          <span class="icoArrow"><img src="https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png" alt=""></span>
        </div>
        <div class="size_block">
          <!-- <button id="content_box" class="size" type="button">S</button> -->
        </div>
      </div>
      <div class="box bb6">
        <span>${color/size}</span>
        <span class="counter">
          <button type="button" class="minus">-</button>
          <span class="count_num">1</span>
          <button type="button" class="plus">+</button>
        </span>
        <span class="price_li">11,111 원</span>
        <button class="delete">X</button>
      </div>
      <div class="box bb7">
        <span class="total_price_title">상품가격</span>
        <span class="total_price"></span>
      </div>
      <div class="box bb8">
        <button class="button_buy" type="button">BUY NOW</button>
        <button class="button_cart" type="button">cart</button>
      </div>
      <div class="box bb9">추천상품 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima quae animi corrupti totam sint dolore facere ipsam adipisci voluptate optio, vero repellendus amet alias tempora aspernatur beatae, ut voluptatem autem?</div>
      <div class="box bb10">추천상품2</div>
      <div class="box bb11">추천상품3 lo</div>
      <div class="box bb12">추천상품4</div>
      <div class="box bb13">상품상세</div>
      <div class="box bb14">배송및반품</div>
      <div class="box bb15">리뷰</div>
      <div class="box bb16">리뷰2</div>
      <div class="box bb17">리뷰3</div>
    </div>

    <!-- Footer -->
    
    <script src="https://kit.fontawesome.com/5c0da6133a.js" crossorigin="anonymous"></script>
  </body>
</html>