* {
  margin: 0px;
  border: 0px;
  list-style: none;
}

.hidden {
  display: none !important;
}

.product_edit {
  cursor: pointer;
}

.product_delete {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.box {
  background-color: #ffffff;
}

.pd_brd {
  font-weight: 900;
  text-decoration: underline;
}

.size_block {
  margin: 5px 0px;
}

.size_s {
  width: 30px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 5px;
  text-align: center;
  font-weight: 900;
  color: #494949;
}
.size_m {
  width: 30px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 5px;
  text-align: center;
  font-weight: 900;
  color: #494949;
}
.size_l {
  width: 30px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 5px;
  text-align: center;
  font-weight: 900;
  color: #494949;
}

.size_xl {
  width: 30px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 5px;
  text-align: center;
  font-weight: 900;
  color: #494949;
}
.size_xxl {
  width: 30px;
  height: 30px;
  background: #d9d9d9;
  border-radius: 5px;
  text-align: center;
  font-weight: 900;
  color: #494949;
  box-sizing: content-box;
}

.size_block :hover {
  border: 3px solid #000000;
}

.delete {
  background: #ffffff;

  width: 20px;
  height: 20px;

  cursor: pointer;
}

.total_price_title {
  text-align: right;
}

.total_price {
  text-align: right;
  justify-content: right;
  font-weight: bold;
}

.button_buy {
  width: 100%;
  height: 65px;
  float: left;
  color: #d9d9d9;
  background: #000000;
  border-radius: 5px;
  font-weight: 900;

  cursor: pointer;
}
.button_cart {
  width: 65px;
  height: 65px;
  float: right;
  color: #000000;
  background: #f0f0f0;
  border: 1px solid #7c7c7c;
  border-radius: 5px;

  cursor: pointer;
}

.plus {
  background: #f0f0f0;
  border: #7c7c7c solid 1px;
  border-radius: 3px;
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.minus {
  background: #f0f0f0;
  border: #7c7c7c solid 1px;
  border-radius: 3px;
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.count_num {
  margin-left: 5px;
  margin-right: 5px;
}

/* .tag_block {
  
} */
.tag_category {
  border: 4px;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: rgb(219, 219, 219);

  font-family: "Gothic";
  font-weight: 600;
}

.tag_name {
  border: 4px;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: rgb(184, 211, 227);

  font-family: "Gothic";
  font-weight: 600;
}

.container {
  display: grid;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "a a a a"
    "b b c c"
    "b b d d"
    "b b e e"
    "b b f f"
    "b b g g"
    "b b h h"
    "i j k l"
    "m m m m"
    "n n n n"
    "o o o o"
    "p p p p"
    "q q q q";
}

.bb1 {
  grid-area: a;
  height: 30px;
}

.bb2 {
  grid-area: b;
  width: 100%;
  height: 100%;
  background: #d9d9d9;
}

.bb3 {
  grid-area: c;
  width: 100%;
}

.bb4 {
  grid-area: d;
  height: 30px;
}

.bb5 {
  grid-area: e;
  height: 60px;
}

.bb6 {
  grid-area: f;
  height: 60px;
}

.bb7 {
  grid-area: g;
  height: 30px;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  justify-content: space-between;
}

.bb8 {
  grid-area: h;
  height: 65px;
  display: grid;
  grid-template-columns: 4fr 65px;
  grid-gap: 10px;
}

.bb9 {
  grid-area: i;
  width: 100%;
  grid-auto-flow: column;
}

.bb10 {
  grid-area: j;
  width: 100%;
}

.bb11 {
  grid-area: k;
  width: 100%;

  text-align: center;

  border: 1px solid lightgray;
  border-radius: 5px;
}

.bb12 {
  grid-area: l;
  width: 100%;

  text-align: center;

  border: 1px solid lightgray;
  border-radius: 5px;
}

.bb13 {
  grid-area: m;
  /* height: 1000px; */
  margin-top: 30px;
  grid-auto-flow: column;
  width: 100%;
}

.bb14 {
  grid-area: n;
  /* height: 400px; */
  grid-auto-flow: column;
}

.bb15 {
  grid-area: o;
  height: 100%;
}

.bb16 {
  grid-area: p;
  height: 100px;
  background-color: #ededed;
}

.bb17 {
  grid-area: q;
  height: 100px;
  background-color: #ededed;
}

.pd_detail_text_group {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pd_detail_text_main {
  color: #000000;
}

.pd_detail_text_sub {
  color: rgba(0, 0, 0, 0.5);
}

.shipping_text {
  width: 100%;
  height: 10%;
  background-color: #e9e9e9;
}

.shipping_text_two {
  width: 100%;
  height: 90%;
  background-color: #f7f7f7;
}

img {
  height: auto;
  max-width: 100%;
}

.custom.data_row_wrap {
  display: flex;
}

.custom.data_row_wrap .data_row_half:nth-child(odd) {
  border-right: 1px solid #eee;
}

.custom .data_row_half {
  display: block;
}

.custom .data_row_half_tl,
.custom .data_row_half_contents {
  display: block;
  height: auto;
  width: auto;
}

.custom .data_row_half_tl {
  height: auto;
  width: auto;
  text-align: center;
}

.custom .data_row_half_contents small {
  font-size: 0.8rem;
}

b {
  font-weight: bold;
}

.red {
  color: #bd081c;
}
.data_row_wrap {
  border-bottom: 1px solid #dbdbdb;
  font-size: 12px;
  color: #000;
}
.data_row_half {
  width: 49.8%;
  line-height: 24px;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.data_row_half p {
  vertical-align: middle;
}
.data_row_half_tl {
  width: 138px;
  background: #f6f6f6;
  font-weight: 500;
  display: inline-block;
  padding: 16px;
  vertical-align: bottom;
  height: 80px;
  font-family: "noto sans kr";
}
.data_row_half_contents {
  width: 454px;
  font-weight: normal;
  display: inline-block;
  padding: 16px;
  vertical-align: bottom;
  background: transparent;
  vertical-align: bottom;
  height: 80px;
  font-family: "noto sans kr";
  line-height: 20px;
}
.att_text {
  padding: 10px;
}