<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/admin_productDetail/admin_productDetail.css"
    />
    <link rel="stylesheet" href="../mypage/HeaderFooter.css" />
    <link rel="stylesheet" href="../home/reset.css" />
    <title>adimnProductDetail</title>
  </head>
  <body class="body">
    <!-- Header -->
    <header class="header">
      <div class="header_logo">
        <a href="/"> Ce1ev. </a>
      </div>
      <ul class="search">
        <li>
          <input
            type="text"
            placeholder="검색어를 입력하세요."
            class="header_search"
            id="text"
          />
          <button type="button" class="searchBtn">
            <i class="fa fa-magnifying-glass fa-2x"></i>
          </button>
        </li>
      </ul>
      <ul class="header_right" id="guest">
        <li id="header_login">
          <a href="/login"> LOGIN </a>
        </li>
        <li id="header_wish">
          <a href="/register"> REGISTER </a>
        </li>
        <li id="header_cart">
          <a href="/guest"> GUEST </a>
        </li>
      </ul>
      <ul class="header_right hidden" id="user">
        <li id="header_cart">
          <a href="/mypage/myPageCart"> CART </a>
        </li>
        <li id="header_myPage">
          <a href="/mypage"> MY PAGE </a>
        </li>
        <li id="header_logout">
          <a href="/#" id="logout2"> LOG OUT </a>
        </li>
      </ul>
      <ul class="header_right hidden" id="admin">
        <li id="header_addProduct">
          <a href="/products"> ADD-PRODUCT </a>
        </li>
        <li id="header_mypage">
          <a href="/admin"> ADMIN-PAGE </a>
        </li>
        <li id="header_logout">
          <a href="/#" id="logout1"> LOG OUT </a>
        </li>
      </ul>
    </header>

    <div class="container">
      <div class="box bb1">🚨여기는 관리자 페이지입니다.</div>
      <img class="box bb2" src="" />
      <div class="box bb3">
        <p class="pd_brd"></p>
        <p class="pd_name"></p>
      </div>
      <div class="box bb4">
        <div class="tag_block">
          <a class="tag_category"></a>
          <a class="tag_name"></a>
        </div>
      </div>
      <div class="box bb5">
        <p>사이즈</p>
        <div class="size_block">
          <!-- <button id="content_box" class="size" type="button">S</button> -->
        </div>
      </div>
      <div class="box bb6">
        <span>${color/size}</span>
        <span class="counter">
          <button type="button" class="minus">-</button>
          <span class="count_num">1</span>
          <button type="button" class="plus">+</button>
        </span>
        <span class="price_li">11,111 원</span>
        <button class="delete">X</button>
      </div>
      <div class="box bb7">
        <span class="total_price_title">상품가격</span>
        <span class="total_price"></span>
      </div>
      <div class="box bb8">
        <button class="pd_add" type="button">상품 등록</button>
        <button class="pd_fix" type="button">상품 수정</button>
        <button class="pd_delete" type="button">상품 삭제</button>
      </div>
      <div class="box bb9">
        추천상품 Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Minima quae animi corrupti totam sint dolore facere ipsam adipisci
        voluptate optio, vero repellendus amet alias tempora aspernatur beatae,
        ut voluptatem autem?
      </div>
      <div class="box bb10">추천상품2</div>
      <div class="box bb11">추천상품3 lo</div>
      <div class="box bb12">추천상품4</div>
      <div class="box bb13">상품상세</div>
      <div class="box bb14">배송및반품</div>
      <div class="box bb15">리뷰</div>
      <div class="box bb16">리뷰2</div>
      <div class="box bb17">리뷰3</div>
    </div>
    <!-- Footer -->

    <!-- <script src="indexed-db.js"></script> -->
    <script
      src="/admin_productDetail/admin_productDetail.js"
      type="module"
      defer
    ></script>
    <!-- <script src="admin_productDetail.html"></script> -->
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
