* {

}

.order_moniter {

}

.divide_line {
    width: 100%;
    border: 0.25px solid gray;
}

.order_moniter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.order_moniter dl {
    display: inline;
    text-align: center;
}

.list_heading {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr 2fr;
    text-align: center;
    background: #d3d3d3;
    padding: 20px 0px;
    border-radius: 5px;
}

.listing {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr 2fr;
    text-align: center;
    margin: 15px 0px;
}

.selectBox {
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid rgb(65, 65, 65);
  cursor: pointer;
}
.selectBox .select {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  /* z-index: 3;  */
}
/* }
.selectBox .select option {
  background: rgb(65, 65, 65);
  color: #fff;
  padding-top: 3px;
  font-size: 16px;
}
.selectBox .icoArrow {
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: 1; 
  width: 35px; 
  height: inherit;
  border-left: 2px solid rgb(65, 65, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectBox .icoArrow img {
  width: 50%;
  transition: .3s; 
}

.selectBox .select:focus + .icoArrow img {
  transform: rotate(180deg);
} */

.order_cancel {
    position: relative;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid rgb(65, 65, 65);
    cursor: pointer;
}

#modal.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  /* display: none; */
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255,255, 0.2);
}

#modal .modal-window {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.4);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255,255, 0.2);

  

  width: 400px;
  
  position: relative;
  top: -100px;
  padding: 10px;
} 

#modal .modal_text {
  padding-left: 10px;
  display: flex;
  text-shadow: 1px 1px 2px gray;
  color: rgb(23, 23, 23);
  text-align: center;
  font-size: 24px;
}

#modal .close-area {
  display: inline;
  float: right;
  padding-right: 10px;
  cursor: pointer;
  text-shadow: 1px 1px 2px gray;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button_comp {
  width: 100px;
  height: 50px;
  font-size: 30px;
  background: #009991;
  margin: 10px 20px;
  border-radius: 5px;
}

.button_canc {
  width: 100px;
  height: 50px;
  font-size: 30px;
  background: #5d5d5d;
  margin: 10px 20px;
  border-radius: 5px;
}

