* {

}

.order_moniter {

}

.divide_line {
    width: 100%;
    border: 0.25px solid gray;
}

.order_moniter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.order_moniter dl {
    display: inline;
    text-align: center;
}

.list_heading {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr 2fr;
    text-align: center;
    background: #d3d3d3;
    padding: 20px 0px;
    border-radius: 5px;
}

.listing {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr 2fr;
    text-align: center;
    margin: 15px 0px;
}

.selectBox {
  position: relative;
  width: 150px;
  height: 35px;
  border-radius: 4px;
  border: 2px solid rgb(65, 65, 65);
  cursor: pointer;
}
.selectBox .select {
  width: inherit;
  height: inherit;
  background: transparent;
  border: 0 none;
  outline: 0 none;
  padding: 0 5px;
  position: relative;
  z-index: 3; 
}
/* }
.selectBox .select option {
  background: rgb(65, 65, 65);
  color: #fff;
  padding-top: 3px;
  font-size: 16px;
}
.selectBox .icoArrow {
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: 1; 
  width: 35px; 
  height: inherit;
  border-left: 2px solid rgb(65, 65, 65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectBox .icoArrow img {
  width: 50%;
  transition: .3s; 
}

.selectBox .select:focus + .icoArrow img {
  transform: rotate(180deg);
} */

.order_cancel {
    position: relative;
    width: 150px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid rgb(65, 65, 65);
    cursor: pointer;
}