<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>회원가입</title>
    <!-- bulma css 관련 -->
    <!-- 구글 OAuth -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- 카카오 OAuth -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <!-- 다음 주소찾기 api -->
    <script type="text/javascript" charset="UTF-8" src="//t1.daumcdn.net/adfit/static/kp.js"></script> 
    <!-- 커스텀 css, js -->
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="register.css" />
    <link rel="stylesheet" href="../home/reset.css" />
    <link rel="stylesheet" type="text/css" href="../mypage/HeaderFooter.css" />
  </head>
  <body class="body">
    
    <a href="/" class="homebt">ce1ev.</a>
    
    <!-- 회원가입 폼(Form) -->
    <div class="register-user-form-container">
      <form class="register-user-form-box">
        <p class="title">Welcome!</p>
        <div class="field">
          <label class="label" for="fullNameInput">Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="fullNameInput"
              placeholder="박소민"
              autocomplete="on"
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="emailInput">Email</label>
          <div class="control">
            <input
              class="input"
              type="email"
              id="emailInput"
              placeholder="abc@example.com"
              autocomplete="on"
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="passwordInput">Password</label>
          <div class="control">
            <input
              class="input"
              type="password"
              id="passwordInput"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="field mb-5">
          <label class="label" for="passwordConfirmInput"
            >Password confirm</label
          >
          <div class="control">
            <input
              class="input"
              type="password"
              id="passwordConfirmInput"
              placeholder="********"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="numberInput">Number</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="numberInput"
              placeholder="01012345678 (하이픈(-)을 빼고 입력하십시오.)"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="addressInput">Address</label>
          <div class="control">
            <input
              class="input"
              type="text"
              id="addressInput"
              placeholder="주소 찾기"
              autocomplete="off"
            />
          </div>
        </div>
        <button class="button" id="submitButton">Sign Up</button>
        <div class="signInLink">
          Already have an account? <a href="/login">Sign in</a>
        </div>
      </form>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="register.js" type="module" defer></script>
    <!--🚨헤더푸터 <script src="../mypage/guestHeader.js" type="module" defer></script> -->
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
    
  </body>
</html>
