<!-------- mypage_info -------->
<link rel="stylesheet" href="mypage_info.css" />
<main class="main">
  <aside class="aside_menu">
    <h1>마이 페이지</h1>
    <div class="my_info">
      <h3>
        <a href="/mypage_info"> 내 정보 </a>
      </h3>
      <p>회원 정보 수정</p>
      <p>회원 탈퇴</p>
    </div>
    <div class="my_shopping">
      <h3>
        <a href="/mypage_shopping"> 나의 쇼핑 </a>
      </h3>
      <p>주문/배송 조회</p>
      <p>장바구니 목록</p>
      <p>주문취소내역</p>
    </div>
  </aside>
  <section class="section">
    <article class="profile">
      <div>
        <div class="picture"><img alt="profile_image" src= /></div>
        <div class="name"></div>
        <div class="email"></div>
      </div>
      <div class="profile_right">
        <div>
          <div class="grade">회원 등급</div>
          <p>일반회원</p>
        </div>
        <div>
          <div class="point">포인트</div>
          <p>100 P</p>
        </div>
      </div>
    </article>

    <article class="basic_info">
      <h2>기본 정보</h2>
      <div class="container">
        <div class="title">이름</div>
        <div class="content">박재훈</div>
        <button>이름 변경</button>
      </div>

      <div class="container">
        <div class="title">휴대전화</div>
        <div class="content">010-2620-8738</div>
        <button>휴대전화 변경</button>
      </div>

      <div class="container">
        <div class="title">이메일</div>
        <div class="content">wogns205@gmail.com</div>
        <button>이메일 변경</button>
      </div>

      <div class="container">
        <div class="title">비밀번호</div>
        <div class="content">********</div>
        <button>비밀번호 변경</button>
      </div>

      <div class="container">
        <div class="title">주소</div>
        <div class="content">
          경기도 성남시 분당구 분당내곡로 131 판교테크원 타워1, 8층
        </div>
        <button>주소 변경</button>
      </div>
    </article>
    <div class="btn_container">
      <button class="left">취소</button>
      <button class="right">저장</button>
    </div>
    <button class="unregister">회원탈퇴</button>
  </section>
</main>
