.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container .title {
  font-family: Gothic A1;
  font-size: 24px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.container .main {
  display: flex;
  width: 800px;
  justify-content: space-between;
}
.container .option {
  width: 830px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .option .input {
  width: 400px;
  height: 30px;
}

.container .option .pay {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container .option .pay .coupon {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.total {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.total .product {
  display: flex;
  gap: 10px;
}
.total .product .box {
  width: 100px;
  height: 100px;
  background: #d9d9d9;
  margin-top: 0px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.productInfo #name {
  font-family: Gothic A1;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.productInfo #color {
  display: flex;
  justify-content: space-between;
  font-family: Gothic A1;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.productInfo #size {
  display: flex;
  justify-content: space-between;
  font-family: Gothic A1;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.productInfo #count {
  display: flex;
  justify-content: space-between;
  font-family: Gothic A1;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.productInfo #price {
  display: flex;
  justify-content: space-between;
  font-family: Gothic A1;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.totalProductInfo {
  padding-right: 18px;
}
.totalProductInfo li {
  display: flex;
  justify-content: space-between;
}
