.body {
  width: 645px;
  margin: 50px auto;
}

.body h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}

.category-label {
  font-size: 16px;
  font-weight: bold;
}

#fileBox {
  margin-bottom: 2rem;
  border: none;
  border-bottom: solid 1px rgb(240, 240, 240);
}

.category-input {
  width: 645px;
  height: 3rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: solid 1px rgb(240, 240, 240);
}

.category-input:focus {
  outline: none;
  border-bottom: solid 1px rgb(140, 192, 222);
}

#category-button {
  width: 640px;
  height: 4rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: medium;
  background-color: #dbdbdb;
  color: black;
  font-weight: bold;
}

#category-button:hover {
  cursor: pointer;
  background-color: #6d6d6d;
}

