<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="home.css" />
    <link rel="stylesheet" type="text/css" href="slideStyle.css" />
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="../mypage/HeaderFooter.css" />
  </head>
  <title>CE1EV</title>
  <body class="body">
    <!-- Main -->
    <div class="main">
      <!--Header-->
      <header class="header">
        <div class="header_logo">
          <a href="/"> Ce1ev. </a>
        </div>
        <ul class="search">
          <li>
            <input
              type="text"
              placeholder="검색어를 입력하세요."
              class="header_search"
              id="text"
            />
            <button type="button" class="searchBtn">
              <i class="fa fa-magnifying-glass fa-2x"></i>
            </button>
          </li>
        </ul>
        <ul class="header_right" id="guest">
          <li id="header_login">
            <a href="/login"> LOGIN </a>
          </li>
          <li id="header_wish">
            <a href="/register"> REGISTER </a>
          </li>
          <li id="header_cart">
            <a href="/guest"> GUEST </a>
          </li>
          <li id="header_notice">
            <a href="/notice"> NOTICE </a>
          </li>
        </ul>
        <ul class="header_right hidden" id="user">
          <li id="header_cart">
            <a href="/mypage/myPageCart"> CART </a>
          </li>
          <li id="header_myPage">
            <a href="/mypage"> MY PAGE </a>
          </li>
          <li id="header_notice">
            <a href="/notice"> NOTICE </a>
          </li>
          <li id="header_logout">
            <a href="/#" id="logout2"> LOG OUT </a>
          </li>
        </ul>
        <ul class="header_right hidden" id="admin">
          <li id="header_addProduct">
            <a href="/products"> ADD-PRODUCT </a>
          </li>
          <li id="header_mypage">
            <a href="/admin"> ADMIN-PAGE </a>
          </li>
          <li id="header_notice">
            <a href="/notice"> NOTICE </a>
          </li>
          <li id="header_logout">
            <a href="/#" id="logout1"> LOG OUT </a>
          </li>
        </ul>
      </header>

      <div class="section">
        <!--Slide Img//Git 충돌 복구 - 슬라이드-->
        <div class="slide">
          <div class="slide_item">
            <img
              src="../image/slide1.png"
              alt="slide01"
              style="height: auto; width: 100vw"
            />
          </div>
          <div class="slide_item">
            <img
              src="../image/slide2.png"
              alt="slide02"
              style="height: auto; width: 100vw"
            />
          </div>
          <div class="slide_item">
            <img
              src="../image/slide3.png"
              alt="slide03"
              style="height: auto; width: 100vw"
            />
          </div>
          <div class="slide_item">
            <img
              src="../image/slide4.png"
              alt="slide04"
              style="height: auto; width: 100vw"
            />
          </div>

          <div class="slide_prev_button slide_button">◀</div>
          <div class="slide_next_button slide_button">▶</div>
          <ul class="slide_pagination"></ul>
        </div>

        <!--Category_button-->
        <ul class="category">
          <li>
            <div class="category_btn" id="all">H</div>
            <p>화제의인물</p>
          </li>
          <li>
            <div class="category_btn" id="idol">I</div>
            <p>아이돌</p>
          </li>
          <li>
            <div class="category_btn" id="actor">A</div>
            <p>배우</p>
          </li>
          <li>
            <div class="category_btn" id="sport">S</div>
            <p>스포츠스타</p>
          </li>
          <li>
            <div class="category_btn" id="singer">S</div>
            <p>가수</p>
          </li>
          <li>
            <div class="category_btn" id="etc">E</div>
            <p>기타</p>
          </li>
        </ul>
        <!-- Product-List -->
        <div class="section_box"></div>
      </div>

      <!-------- footer -------->
    </div>
    <script src="../mypage/footer.js" type="module" defer></script>
    <script src="changeHeader.js" type="module" defer></script>
    <script src="home.js" type="module" defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="categoryfilter.js" type="module" defer></script>
    <script src="product.js" type="module" defer></script>
    <script src="searching.js" type="module" defer></script>
    <script src="slideScript.js" type="module" defer></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
