<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Imbue&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Itim&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Gothic+A1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="home.css" />
    <link rel="stylesheet" type="text/css" href="reset.css" />
    <link rel="stylesheet" type="text/css" href="../mypage/HeaderFooter.css" />
  </head>
  <title>CE1EV</title>
  <body class="body">
    <!--Header-->

    <!--Banner-->
    <div class="section">
      <input type="radio" name="slide" id="slide01" checked />
      <input type="radio" name="slide" id="slide02" />
      <input type="radio" name="slide" id="slide03" />
      <input type="radio" name="slide" id="slide04" />

      <div class="slidewrap">
        <ul class="slidelist">
          <li>
            <a>
              <label for="slide04" class="left"></label>
              <img src="../image/slide1.png" alt="slide01" />
              <label for="slide02" class="right" id="right1"></label>
            </a>
          </li>
          <li>
            <a>
              <label for="slide01" class="left"></label>
              <img src="../image/slide2.png" alt="slide02" />
              <label for="slide03" class="right" id="right2"></label>
            </a>
          </li>
          <li>
            <a>
              <label for="slide02" class="left"></label>
              <img src="../image/slide3.png" alt="slide03" />
              <label for="slide04" class="right" id="right3"></label>
            </a>
          </li>
          <li>
            <a>
              <label for="slide03" class="left"></label>
              <img src="../image/slide4.png" alt="slide04" />
              <label for="slide01" class="right" id="right4"></label>
            </a>
          </li>

          <div class="slide-control">
            <div class="control01">
              <label for="slide04" class="left"></label>
              <label for="slide02" class="right"></label>
            </div>
            <div class="control02">
              <label for="slide01" class="left"></label>
              <label for="slide03" class="right"></label>
            </div>

            <div class="control03">
              <label for="slide02" class="left"></label>
              <label for="slide04" class="right"></label>
            </div>

            <div class="control04">
              <label for="slide03" class="left"></label>
              <label for="slide01" class="right"></label>
            </div>
          </div>
        </ul>
      </div>
    </div>

    <!--Category_button-->
    <ul class="category">
      <!-- 동적인 구성 필요 ! 빽에서 가져와서 후리기 ! -->
      <li>
        <div class="category_btn" id="hot"></div>
        <p>화제의인물</p>
      </li>
      <li>
        <div class="category_btn" id="idol"></div>
        <p>아이돌</p>
      </li>
      <li>
        <div class="category_btn" id="actor"></div>
        <p>배우</p>
      </li>
      <li>
        <div class="category_btn" id="sport"></div>
        <p>스포츠스타</p>
      </li>
      <li>
        <div class="category_btn" id="youtuber"></div>
        <p>유튜버</p>
      </li>
      <li>
        <div class="category_btn" id="etc"></div>
        <p>기타</p>
      </li>
      <li>
        <div class="category_btn" id="all"></div>
        <p>전체보기</p>
      </li>
    </ul>
    <!-- Product-List -->
    <div class="section_box"></div>
    <!-------- footer -------->

    <script src="../mypage/guestHeader.js" defer></script>
    <script src="home.js" type="module" defer></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="categoryfilter.js" defer></script>
    <script src="product.js" defer></script>
    <script
      src="https://kit.fontawesome.com/5c0da6133a.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
