.hidden {
  display: none !important;
}

.body {
  position: relative;
  min-height: 100vh;
  width: 100vw;
}
.body .section_box {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  margin: 0 60px;
}

.pd_block {
  width: 300px;
  height: 510px;
  margin: auto;
}

.pd_block img {
  width: 100%;
  height: 300px;
}

.pd_text {
  padding-left: 5px;
}

.box {
  height: 300px;

  background: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
}


.pd_brd {
  /* position: absolute; */

  font-family: "Gothic";
  font-style: Bold;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #000000;
}

.pd_name {
  /* position: absolute; */

  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  color: #000000;

  margin-top: 2px;
}

.tag_box {
  margin-top: 15px;
}

.tag_category {
  border: 4px;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: rgb(219, 219, 219);

  font-family: "Gothic";
  font-weight: 600;
}

.tag_name {
  border: 4px;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: rgb(184, 211, 227);

  font-family: "Gothic";
  font-weight: 600;
}

.tag_like {
  float: right;
}

.like_count{
  color: #999;
  margin-top: 15px;
}

.tag_like > img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.pd_price {
  /* position: absolute; */
  font-family: "Gothic";
  /* font-style: Bold; */
  font-weight: 900;
  font-size: 17px;
  line-height: 21px;

  margin: 15px 5px 0 0;

  float: right;

  color: #000000;
}

.body .category {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 150px;
  margin: auto;

  text-align: center;
  line-height: 60px;
}

.body .category .category_btn {
  height: 56px;
  width: 56px;

  border-radius: 10px;
  background: #d9d9d9;

  margin-bottom: 15px;
  cursor: pointer;
}

.body .category .category_btn + p {
  font-family: "Itim";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  color: #000000;
}
